h1, h2 {
  font-family: Lato;
}

table {
    border-collapse: collapse;
    border: solid black 2px;
}

tr.correct {
    background: lightgreen;
}

tr.incorrect {
    background: orangered;
}

td {
    border: solid black 1px;
}
